.ant-modal.ph-modal.ph-about-modal {
  max-width: 400px;
  margin: 0 auto;

  .ant-modal-content {
    margin: 0;

    @include respond-to("sm") {
      height: auto;
    }
  }
}

.ph-about-modal-content-container {
  > *:not(:last-child) {
    margin-bottom: 11px;
  }
}

.ph-about-modal-content-container {
  width: 100%;
  min-height: 100%;
  background-color: $ph-auxiliary-color;
  padding: {
    top: 33px;
    right: 44px;
    bottom: 44px;
    left: 44px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to("sm") {
    padding: 33px 46px 25px 46px;
  }
  @include respond-to("xs") {
    padding: 44px 22px;
    justify-content: center;
  }
}

.ph-about-modal-what-is {
  color: $ph-primary-color;
  font: {
    weight: 600;
    size: 26px;
  }
  padding: 22px 0;

  &:hover {
    color: $ph-secondary-color;
  }

  @include respond-to("xs") {
    padding: 11px 0 33px;
  }
}

.ph-about-modal-separator {
  width: 80%;
  height: 1px;
  background-color: #d8d8d8;
}

.ph-about-modal-built-by {
  color: $ph-black-color;
  font: {
    weight: 600;
    size: 16px;
  }
}

.ph-about-modal-orangeloops-logo-wrapper {
  width: 100%;
}

.ph-about-modal-orangeloops-logo {
  background-image: url("../../assets/images/orangeloops_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 40%;
  max-width: 130px;
  cursor: pointer;
  margin: 0 auto;
}

.ph-about-modal-follow-us {
  color: $ph-black-color;
  font: {
    weight: normal;
    size: 14px;
  }
  padding-top: 11px;
}

.ph-about-modal-twitter-icon.anticon {
  color: #55acee;
  font-size: 34px;
  margin-right: 20px;
}

.ph-about-modal-facebook-icon.anticon {
  color: #3b5998;
  font-size: 34px;
}

.ph-about-modal-terms-of-use {
  color: $ph-primary-color;
  font: {
    weight: 600;
    size: 14px;
  }
  padding-top: 11px;

  &:hover {
    color: $ph-secondary-color;
  }
}

.ph-about-modal-privacy-policy {
  color: $ph-primary-color;
  font: {
    weight: 600;
    size: 14px;
  }

  &:hover {
    color: $ph-secondary-color;
  }
}
