.ph-reset-password {
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  @include respond-to("sm") {
    height: 100%;
  }
}

.ph-reset-password-content {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;

  @include respond-to("sm") {
    align-items: center;
    flex-direction: column;
  }
}

.ph-reset-password-image-wrapper {
  width: 50%;
  position: relative;
  background-color: $ph-primary-color;

  @include respond-to("sm") {
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  @include respond-to("xs") {
    position: static;
    display: none;
  }
}

.ph-reset-password-image {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
  background: {
    image: url("../../assets/images/login.svg");
    size: cover;
    position: center;
  }
}

.ph-reset-password-data {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px;
  margin: {
    top: 110px;
    bottom: 22px;
  }

  @include respond-to("sm") {
    width: 100%;
    max-width: 380px;
    background: $ph-white-color;
    display: block;
    margin: {
      left: 22px;
      right: 22px;
    }
    z-index: 1;
  }

  @include respond-to("xs") {
    margin-top: 55px;
  }
}

.ph-reset-password-data-content {
  width: 100%;
  max-width: 380px;
}

.ph-reset-password-title {
  text-align: center;
  font: {
    weight: bold;
    size: 24px;
  }
  color: $ph-primary-color;
  margin-bottom: 44px;
}

.ph-reset-password-subtitle {
  margin-bottom: 22px;
}

.ph-reset-password-button {
  margin-top: 33px;
  background-color: $ph-primary-color;
  color: $ph-white-color;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: {
    weight: bold;
    size: 18px;
  }
  cursor: pointer;

  &:hover {
    background: $ph-primary-color-lighter;
  }

  &:active {
    background-color: $ph-primary-color-darker;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $ph-primary-color-half-opacity;
  }

  @include respond-to("xs") {
    width: 100%;
    max-width: 320px;
  }
}
